body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 12% 8%;
    background-color: navy;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
    text-align: center;
    grid-gap: 5px;
}

header {
    background-color: rgb(1, 1, 80);
    color: white;
    grid-area: header;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    grid-area: footer;
    background: black;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

aside {
    grid-area: aside;
    background: rgb(1, 1, 80);
    text-align: left;
    color: white;
    margin-top: 10px;
}

#edit {
    display: none;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 10% 18% 18% 18% 18% 18%;
    grid-gap: 5px;
    grid-template-areas: 
    "category1 category2 category3 category4 category5"
    "cat1 cat2 cat3 cat4 cat5"
    "cat12 cat22 cat32 cat42 cat52"
    "cat13 cat23 cat33 cat43 cat53"
    "cat14 cat24 cat34 cat44 cat54"
    "cat15 cat25 cat35 cat45 cat55";
    color: white;
    margin-bottom: 10px
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

p {
    display: inline-block;
}

#cities h2 {
    grid-area: category1;
}

#science h2 {
    grid-area: category2;
}

#gaming h2 {
    grid-area: category3;
}

#sports h2 {
    grid-area: category4;
}

#history h2 {
    grid-area: category5;
}

#cities:  {
    grid-area: cat1;
    text-align: center;
}

#science .one {
    grid-area: cat2;
    text-align: center;
}

#gaming .one {
    grid-area: cat3;
    text-align: center;
}

#sports .one {
    grid-area: cat4;
    text-align: center;
}

#history .one {
    grid-area: cat5;
    text-align: center;
}

.back {
    text-align: center;
    display: none;
}