body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 12% 8%;
    background-color: navy;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
    text-align: center;
    grid-gap: 5px;
}

header {
    background-color: rgb(1, 1, 80);
    color: white;
    grid-area: header;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    grid-area: footer;
    background: black;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

aside {
    grid-area: aside;
    background: rgb(1, 1, 80);
    text-align: left;
    color: white;
    margin-top: 10px;
}

#edit {
    display: none;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 10% 18% 18% 18% 18% 18%;
    grid-gap: 5px;
    grid-template-areas: 
    "category1 category2 category3 category4 category5"
    "cat1    cat6    cat11    cat16    cat21"
    "cat2    cat7    cat12    cat17    cat22"
    "cat3    cat8    cat13    cat18    cat23"
    "cat4    cat9    cat14    cat19    cat24"
    "cat5    cat10   cat15    cat20    cat25";
    color: white;
    margin-bottom: 10px
}

#cities {
    grid-area: category1;
}

#science {
    grid-area: category2;
}

#gaming {
    grid-area: category3;
}

#sports {
    grid-area: category4;
}

#history {
    grid-area: category5;
}

div#1 {
    grid-area: cat1;
}

div#2 {
    grid-area: cat2;
}

div#3 {
    grid-area: cat3;
}

div#4 {
    grid-area: cat4;
}

div#5 {
    grid-area: cat5;
}

div#6 {
    grid-area: cat6;
}

div#7 {
    grid-area: cat7;
}

div#8 {
    grid-area: cat8;
}

div#9 {
    grid-area: cat9;
}

div#10 {
    grid-area: cat10;
}

div#11 {
    grid-area: cat11;
}

div#12 {
    grid-area: cat12;
}

div#13 {
    grid-area: cat13;
}

div#14 {
    grid-area: cat14;
}

div#15 {
    grid-area: cat15;
}

div#16 {
    grid-area: cat16;
}

div#17 {
    grid-area: cat17;
}

div#18 {
    grid-area: cat18;
}

div#19 {
    grid-area: cat19;
}

div#20 {
    grid-area: cat20;
}

div#21 {
    grid-area: cat21;
}

div#22 {
    grid-area: cat22;
}

div#23 {
    grid-area: cat23;
}

div#24 {
    grid-area: cat24;
}

div#25 {
    grid-area: cat25;
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

p {
    display: inline-block;
}

.back {
    text-align: center;
    display: none;
}